<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>cooffe shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
    <style>
        .shops{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    }
    .all {
        border: 1px solid #ccc;
        background: #4e866d;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
    } 
    .coffee {
        border: 1px solid #ccc;
        background: #8edbb8;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    </style>
    <script src='js/jquery-1.11.1.min.js'></script>
    <script src='js/bootstrap.min1.js'></script>
</head>
<body>
    <div class="container">

    {{{ body }}}
    </div>
</body>
</html>